<%= link_to "Send Business Enquiry", "#", :class => "btn btn-default btn-info", :id => "editPostBtn", :onClick => "openBusinessEnquiryModal();" %>

<%= link_to "Fetch Business Emails", fetch_emails_path, :id => "link_to_fetch", :class => "btn btn-default btn-warning", :"data-trigger" => "hover", :"data-content" => "This will fetch the emails for those businesses where emails are not present (marked in blue below).", :rel => "popover", :onClick => 'javascript:$("#link_to_fetch").hide();$("#fetching").show();' %>

<%= link_to "Fetching...", "#", :id => "fetching", :class => "btn btn-default btn-warning", :disabled => "disabled", :style => "display:none;" %>

<%= link_to "Download Business Data", download_data_path, :class => "btn btn-default btn-warning pull-right", :"data-trigger" => "hover", :"data-placement" => "left", :"data-content" => "Downloads MS Excel file.", :rel => "popover" %>

<%= render partial: "modals/business_enquiry_modal" %>

<br/><br/>
<h4>Business enquiries</h4>

<table class="table table-hover">
  <tr>
    <th>Email</th>
    <th>Business name</th>
    <th>Business address</th>
  </tr>
  <% @business_enquiries.each do |enq| %>
  <tr class="<%= ("info" unless enq.has_email_address) %>">
    <td><%= enq.email_address %></td>
    <td><%= enq.business_name %></td>
    <td><%= enq.business_address %></td>
  </tr>
  <% end %>
</table>
